# Ignore environment variables
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Node
node_modules/
.cache/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# VSCode
.vscode/

# Build
/dist/
/build/

# Others
*.sqlite3
*.db 